<% provide(:title, @user.name) %>
<div class="row px-5 m-0">
    <div class="col-lg-4">
        <div class="card">

            <div class="card-body text-center">
                <div class="col-4 mx-auto">
                    <%= profile_image(@user) %>
                </div>
                <h3><%= @user.name %></h3>
                <p><%= @user.email %></p>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <h1 class="text-primary">32</h1>
                        <p>microposts</p>
                    </div>
                    <div class="col-4">
                        <h1>5</h1>
                        <p>following</p>
                    </div>
                    <div class="col-4">
                        <h1>5</h1>
                        <p>followers</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <%= form_with(model: @post, local: true) do |f| %>
                    <%= f.text_area :content, placeholder: "Share your thoughts...", class: "form-control my-2" %>
                    <%= f.submit "Post", class: "btn btn-primary fw-bolder mb-2 w-100" %>
                <% end %>
            </div>
         </div>
    </div>
    <div class="col-lg-8">
        <h2 class="fw-bolder mt-3 mt-lg-0">Feed</h2>
        <hr>
        <div class="row" style="overflow-y: auto; height: 75vh">
            <div class="col-12 my-2 py-2 bg-white rounded">
                <div class="row">
                    <div class="col-2">
                        <%= profile_image(@user)%>
                    </div>
                    <div class="col-10">
                        <button type="button" class="btn-close float-end" aria-label="Close"></button>
                        <h3><%= @user.name %></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                            Quisquam, quos, quisquam.
                        </p>
                        <strong>Posted 23 minutes ago</strong>
                    </div>
                </div>
            </div>
            <div class="col-12 my-2 py-2 bg-white rounded">
                <div class="row">
                    <div class="col-2">
                        <%= profile_image(@user)%>
                    </div>
                    <div class="col-10">
                        <button type="button" class="btn-close float-end" aria-label="Close"></button>
                        <h3><%= @user.name %></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                            Quisquam, quos, quisquam.
                        </p>
                        <strong>Posted 23 minutes ago</strong>
                    </div>
                </div>
            </div>
            <div class="col-12 my-2 py-2 bg-white rounded">
                <div class="row">
                    <div class="col-2">
                        <%= profile_image(@user)%>
                    </div>
                    <div class="col-10">
                        <button type="button" class="btn-close float-end" aria-label="Close"></button>
                        <h3><%= @user.name %></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                            Quisquam, quos, quisquam.
                        </p>
                        <strong>Posted 23 minutes ago</strong>
                    </div>
                </div>
            </div>
            <div class="col-12 my-2 py-2 bg-white rounded">
                <div class="row">
                    <div class="col-2">
                        <%= profile_image(@user)%>
                    </div>
                    <div class="col-10">
                        <button type="button" class="btn-close float-end" aria-label="Close"></button>
                        <h3><%= @user.name %></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                            Quisquam, quos, quisquam.
                        </p>
                        <strong>Posted 23 minutes ago</strong>
                    </div>
                </div>
            </div>
             <div class="col-12 my-2 py-2 bg-white rounded">
                <div class="row">
                    <div class="col-2">
                        <%= profile_image(@user)%>
                    </div>
                    <div class="col-10">
                        <button type="button" class="btn-close float-end" aria-label="Close"></button>
                        <h3><%= @user.name %></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos, quisquam.
                            Quisquam, quos, quisquam.
                        </p>
                        <strong>Posted 23 minutes ago</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>